/*
Colors used:
Primary Color (Blue): F2F8FF;
White #FFFFFF
imagery */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  -webkit-box-shadow: 0px 8px 13px 0px rgba(50, 49, 59, 0.19);
  -moz-box-shadow: 0px 8px 13px 0px rgba(50, 49, 59, 0.19);
  box-shadow: 0px 8px 13px 0px rgba(50, 49, 59, 0.19);
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%
}

.heighttest {
  height: 100px;
}

body {
  background-color: #F2F8FF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

img {
  width: 100%;
}

/* links */
a {
  color: #0000FF;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  color: #551A8B;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #EE0000;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #4168FF;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #8899FF;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.75;
  text-decoration: none;
}

.button:active {
  display: inline-block;
  color: #7894FF;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d5d5d5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #7894FF;
  text-transform: uppercase;
  border: 2px solid #7894FF;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button.contact:hover {
  opacity: 0.75;
  text-decoration: none;
}

.button.contact:active {
  display: inline-block;
  color: #121F50;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d5d5d5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0;
}

#work.row {
  padding-bottom: 48px;
  border-bottom: 1px solid #efefef;
  padding-top: 28px;
}

#hero h1 {
  text-align: center;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 16px;
}

#hero span {
  display: block;
}


#work p {
  text-align: left;
}

#about {
  text-align: center;
}

#about h2 {
  margin-top: 0;
}

.logo {
  max-width: 150px;
  margin-top: 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

nav>ul>li>a:visted {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

nav>ul>li>a:hover {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #7894FF;
}

nav>ul>li>a:visited {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #505050;
}

nav>ul>li>a:active {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #95f7ac;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive nav {
  padding: 0 0 10px;
}

main {
  padding-top: 100px;
}

#contact {
  background-color: #ffffff;
  padding-top: 20px;
  margin-top: 48px;
  text-align: center;
  width;
  100%
}

#contact h2 {
  color: #1f1f1f;
}

#contact p {
  text-align: center;
  color: #000000;
}

footer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.professionalemail {
  text-align: center;
}

.linkedin {
  width: 50px;
}

.behance {
  width: 50px;
}

#about {
  text-align: center;
}

#mypic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#mystory {
  text-align: center;
}

#mystory p {
  text-align: left;
}

#sociallinks .links {
  display: inline-block;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  nav>ul {
    margin: 1 em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 100px;
  }

  body {
    font-size: 18px;
  }

#hero span{
  display: block;
}

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-right: 40px;
    padding-left: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


#hero span {
    display: block;
  }

  .logo {
    max-width: 150px;
    margin-top: 10px;
  }

  .resume {
    ext-align: center;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about {
    text-align: center;
  }

  #mypic {
    width: 500px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  * {
     box-sizing: border-box;
   }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
  /* ==============================
  Jelly Fish Color Animation(1024px or larger)
  ================================= */
  .jellyfish {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    from {
      fill: #CB1919;
    }

    to {
      fill: #55F8FF;
    }
  }

  .cls-15 {
    animation: 3s color-change infinite alternate linear;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .imgwrapper,
  .deswrapper {
    padding: 10px;
  }
}
